@import "mixins";
@import "variables";

.container {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px;

    .photo_container {
        width: 100%;

        display: flex;
        flex-direction: column;

        .label {
            font-weight: 400;
            font-size: 13px;
            color: #000000;
            margin-top: 8px;
        }

        .button {
            width: 78px;
            height: 23px;
            background: #5f3dc4;
            border-radius: 8px;

            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            color: #ffffff;

            margin-bottom: 8px;
        }
        .preview {
            width: 100%;
            min-width: 345px;
            max-height: 500px;
            display: flex;
            border-radius: 8px;

            .img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
        }
        .send_button {
            width: 100%;
            height: 45px;
            background: #5f3dc4;
            border-radius: 8px;

            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            color: #ffffff;

            margin-top: 50px;
            margin-bottom: 12px;
        }
    }
}

.input_container {
    .input_label {
        font-weight: 400;
        font-size: 13px;
        color: #000000;
        margin-top: 8px;
    }
    .input_component_container {
        width: 100%;
        min-width: 345px;
        height: $header-pc;
        border-radius: 8px;
        border: 1px solid #efeff4;
        margin-top: 8px;
    }
}
