@import "mixins";
@import "variables";

.container {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    .background {
        position: relative;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        .top_container {
            width: 100%;
            height: 40%;
            background-color: #5f3dc4;

            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                .icon {
                    width: 17px;
                    height: 26px;
                    background-image: url("/Assets/Images/logo.svg");
                    background-size: cover;
                    margin-right: 5px;
                }
                .text {
                    font-size: 25px;
                    color: #ffffff;
                    font-weight: bold;
                }
            }
        }
        .bottom_container {
            width: 100%;
            height: 60%;
            background-color: #f5f5f5;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;

            .light_text {
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .bold_text {
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 24px;
            }
        }
    }
    .login_container {
        width: 415px;
        height: 360px;
        background-color: #ffffff;
        border-radius: 8px;
        position: absolute;
        box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;

        display: flex;
        flex-direction: column;

        .tab_top {
        }
        .tab_bottom {
        }
    }
}
